body {
  text-align: center;
  background-color: #6b226b;
  color: #fff;
}

label {
  position: absolute;
  color: rgba(white, .5);
  cursor: text;
  transition: .25s ease;
}

a {
  text-decoration: none;
  color: yellow;
}

input {
  border: none;
  outline: none;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  padding-left: 1px;
  background-color: #6b226b;
  border-bottom: 2px solid white;
  color: #fff;
  transition: .3s ease;
}

input:focus {
  border-bottom: 2px solid orange;
  transition: .3s ease;
}

button {
  border: none;
  outline: none;
  height: 50px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #6b226b;
  border: 2px solid white;
  color: white;
  transition: .3s ease;
}

button:hover {
  border: 2px solid orange;
  color: orange;
}